html {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	margin: 0;
	background-color: #f7dcb8; /* This is the tan colour*/
}

a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	background-color: #2257be;
	padding: 0.7em;
	width: 100%;
	float: left;
	border: solid 3px #1f3873;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	float: left;
	width: 25%;
}

.banner{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 50%;
	position: relative;
	clear: both;
	text-align: center;
	margin-bottom: 1.5em;
}

.about {
	width: 40%;
	margin-left: 1.5em;
}

img {

}

h1 {
	color: white;
	padding: 0.5em 0.5em 0.5em 0.3em;
	margin: 0;
	background-color: #231f20;
}

h2 {
	font-size: 3.5em;
	color: white;
	margin: 0;
	bottom: 0%;
	position: absolute;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

h3 {
	background-color: #2257be; /* This is the blue colour*/
	color: white;
	text-align: center;
	font-size: 5rem;
	padding: 0.3em;
}

.grilledcheese {
	width: 40%;
}

.beer {
	width: 40%;
}

.chips {
	width: 40%;
}

.board {
	width: 20%;
}

.rpg {
	width: 20%;
}

.card {
	width: 20%;
}

.word {
	width: 20%;
}

.games {
	background-color: #2257be;
}

nav {

}

.banner {

}

