html {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	margin: 0;
	background-color: #f7dcb8; /* This is the tan colour*/
}


nav a:hover {
	background-color:#1f3873;
}

li a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	background-color: #2257be;
	padding: 0.7em;
	width: 100%;
	float: left;
	border: solid 3px #1f3873;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	float: left;
	width: 25%;
}

.banner {
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 30%;
	position: relative;
	clear: both;
	text-align: center;
	margin-bottom: 1.5em;
}

.about {
	width: 40%;
	margin-left: 1.5em;
}

.dates {
	text-align: center;
	font-size: 1.3rem;
}

.phone-numbers {
	text-align: center;
	font-size: 1.7rem;
}

.e-mail {
	text-align: center;
	font-size: 1.5rem;
}

.welcome {
	float: right;
	width: 50%;
	margin-right: 1.5em;
	text-align: left;
}

p {
	text-align: center;
}

h1 {
	color: white;
	padding: 0.5em 0.5em 0.5em 0.3em;
	margin: 0;
	background-color: #231f20;
}

h2 {
	font-size: 3.5em;
	color: white;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
	position: absolute;
	top: 42%;
	width: 100%;
	margin-bottom: 0em;
}

h3 {
	margin-right: 1.5em;
	margin: 0;
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
}

h4 {
	background-color: #2257be; /* This is the blue colour*/
	color: white;
	text-align: center;
	font-size: 5rem;
	padding: 0.3em;
	margin: 0.5em 0em 0.3em;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

.menu-div {
	width: 100%;
}

.right-menu-div {
	float:right;
	width: 50%;
}
.grilledcheese {
	width: 40%;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.grilltext {
	margin-right: 1.5em;
	text-align: left;
}

.beer {
	width: 40%;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.beertext {
	margin-right: 1.5em;
	text-align: left;
}

.chips {
	width: 40%;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.chiptext {
	margin-right: 1.5em;
	text-align: left;
}

.board {
	width: 100%;
	position: relative;
	margin-left: 0.5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.games-list {
	position: absolute;
	width: 100%;
	left: 7%;
	color: white;
	z-index: 100;
	top: 50%;
	font-size: 1.6rem;
}

.game-buttons {
	position: relative;
	display: inline-block ;
	width: 23.7%;
}

.rpg {
	width: 100%;
	position: relative;
	margin-left: 0.5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.card {
	width: 100%;
	position: relative;
	margin-left: 0.5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.word {
	width: 100%;
	position: relative;
	margin-left: 0.5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.games {
	background-color: #2257be;
}

.social-media {
	width: 20%;
	display: inline-block;
	padding-left: 23px;

}

.map {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto
}

footer {
	text-align: center;
	background-color: #231f20;
	color: white;
	padding: 0.5em 1em 0.5em 1em;

}

footer a {
	text-decoration: none;
}

.genre-links:hover {
	color: yellow;
}
